﻿@page "/Component"

@using BlazorApp1.Data
@inject WeatherForecastService ForecastService

<EditForm Model="forecast">
	<InputRichText @bind-Value="forecast.Summary"></InputRichText>
</EditForm>

@code {

	private WeatherForecast forecast = new WeatherForecast();

	private WeatherForecast[] forecasts;

	
}
