﻿@inherits LayoutComponentBase

    <CascadingValue Value="@Fruit">


        
            <div class="sidebar">
                <NavMenu />
            </div>
       

    </CascadingValue>

<div class="main">
    <div class="top-row px-4">
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code{
    

     private bool Fruit { get; set; } =  true;

    private void ChangeFruit()
    {
        Fruit = !Fruit;
        StateHasChanged();
        Console.WriteLine(Fruit);
    }
}
