﻿<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BlazorApp</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
	<ul class="nav flex-column">
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="index">
				<span class="oi oi-home" aria-hidden="true"></span> Home
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="counter">
				<span class="oi oi-plus" aria-hidden="true"></span> Counter
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="fetchdata">
				<span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="component">
				<span class="oi oi-list-rich" aria-hidden="true"></span> InputRichText
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="authors" Match="NavLinkMatch.All">
				<span class="oi oi-people" aria-hidden="true"></span> Authors
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="publishers">
				<span class="oi oi-book" aria-hidden="true"></span> Publishers
			</NavLink>
		</li>
	</ul>
</div>

@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}

